*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#0f172a;
    color:white;
    padding:30px;
}

.container{
    max-width:1000px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
    border-radius:8px;
}

button{
    padding:10px 20px;
    border:none;
    cursor:pointer;
    background:#22c55e;
    color:white;
    border-radius:8px;
}

button:hover{
    opacity:.9;
}

.logout{
    background:#ef4444;
}

textarea{
    height:120px;
}

pre{
    white-space:pre-wrap;
}
